.nav {
	width: 424px;
	margin-right: 157px;
	display: flex;

	&__item {
		margin-right: 25px;
	}

	&__link {
		font-family: "Poppins";
		font-size: 16px;
		font-weight: 700;
		font-style: normal;
		color: $light-grey-blue;
		line-height: 24px;
		margin-right: 20px;

		&-active {
			color: $soft-blue;
		}

		&-about {
			display: block;
			width: 74px;
		}
	}

}