.subscribe {
	&__title {
		text-transform: uppercase;
		font-weight: 700;
		color: $white;
		line-height: 34px;
		font-size: 16px;
	}

	&__text {
		font-family: 'Lato', 'Arial Narrow', sans-serif;
		font-style: italic;
		color: $pinkish-grey;
		font-size: 13px;
	}

	&__input {
		&::placeholder {
			font-family: 'Lato', 'Arial Narrow', sans-serif;
			font-size: 13px;
			color: $pinkish-grey;
		}
	}

	&__button {
		font-weight: 700;
		font-size: 12px;
		text-transform: uppercase;
		color: $white;
		background-color: $soft-blue;
	}
}