.about-promo {
	&__title {
		@include main-header();
		color: $header-blue;
	}

	&__subtitle {
		text-transform: capitalize;
		font-family: "Lato";
		line-height: 90px;
		color: $light-blue;
	}

	&__text {
		font-family: "Lato";
		color: $text-color;
	}
}