.about-blockquote {
	background-color: $soft-blue;
	padding: 172px 650px 102px 654px;
	margin-bottom: 120px;

	&__text {
		font-family: "Droid Serif";
		font-style: italic;
		text-align: center;
		font-size: 24px;
		line-height: 36px;
		color: $very-light-pink;
		width: 616px;
	}

	&__autor {
		text-align: center;
		line-height: 36px;
		color: $white;
	}
}