.about-promo {
	&__title {
		@include header(left, 72px, 90px, $dark-sky-blue);
	}

	&__subtitle {
		text-transform: capitalize;
		font-family: 'Lato', 'Arial Narrow', sans-serif;
		line-height: 90px;
		color: $light-grey-blue;
	}

	&__text {
		font-family: 'Lato', 'Arial Narrow', sans-serif;
		color: $brownish-grey;
	}
}