.about-promo {
	margin-left: 378px;

	&__title {
		@include header(left, 72px, 90px, $dark-sky-blue);
		margin-bottom: 33px;
	}

	&__subtitle {
		text-transform: capitalize;
		font-family: 'Lato', 'Arial Narrow', sans-serif;
		line-height: 90px;
		color: $light-grey-blue;
		margin-bottom: 85px;
	}

	&__wrapper {
		display: flex;
		margin-bottom: 123px;
	}

	&__list {
		width: 520px;
	}

	&__text-wrapper {
		width: 524px;
	}

	&__text {
		font-family: 'Lato', 'Arial Narrow', sans-serif;
		color: $brownish-grey;
	}
}