.advanced {
	font-family: "Droid Serif";
	color: $soft-blue;
	font-size: 42px;
	display: flex;

	&__item {
		width: 89px;
	}

	&__name {
		font-family: 'Lato', 'Arial Narrow', sans-serif;
		color: $light-grey-blue;
		font-size: 14px;

	}
}