.classes-group {
	&__title {
		@include header (left, 18px, 24px, $soft-blue);
	}

	&__time,
	&__trainer,
	&__level {
		font-family: 'Lato', 'Arial Narrow', sans-serif;
		size: 13px;
		color: $warm-grey;
	}

	&__description {
		font-family: 'Lato', 'Arial Narrow', sans-serif;
		color: $brownish-grey;
	}
}