.classes {
	display: flex;
	flex-wrap: wrap;
	width: 1500px;
	margin-bottom: 117px;

	&__item {
		width: 270px;
		margin-right: 30px;
	}

	&__title {
		@include header(left, 18px, 24px, $soft-blue);
		font-weight: 700;
	}

	&__time,
	&__trainer,
	&__level {
		font-family: 'Lato', 'Arial Narrow', sans-serif;
		font-size: 13px;
		line-height: 24px;
		color: $warm-grey;
	}

	&__description {
		font-family: 'Lato', 'Arial Narrow', sans-serif;
		color: $brownish-grey;
	}

}