.contact {
	margin-bottom: 120px;

	&__title {
		@include header (left, 72px, 90px, $soft-blue);
	}

	&__text {
		font-family: 'Lato', 'Arial Narrow', sans-serif;
		text-align: left;
		color: $light-grey-blue;
	}

	&__wrapper {
		display: flex;
	}

	&__form {
		width: 570px;
	}
}