.main-classes {
	display: flex;

	&__item {
		width: 370px;
		margin-right: 30px;
	}

	&__img {
		border-radius: 5px;
	}

	&__title {
		font-size: 18px;
		color: $soft-blue;
	}

	&__text {
		font-family: 'Lato', 'Arial Narrow', sans-serif;
		color: $brownish-grey;

	}
}