.renewal {
	&__title {
		@include header(left, 28px, 48px, $soft-blue);
	}

	&__text {
		font-family: "Lato";
		font-weight: 400;
		font-size: 21px;
		line-height: 36px;
		color: $perrywinkle;
	}

	&__link {
		text-transform: uppercase;
		color: $white;
		background-color: $soft-blue;
	}
}