.subscribe {
	background-color: $black-two;
	display: flex;
	padding: 22px 375px 25px 372px;

	&__logo {
		width: 60px;
		margin-right: 209px;
	}

	&__wrapper {
		width: 350px;
		margin-right: 219px;
	}

	&__title {
		text-transform: uppercase;
		font-weight: 700;
		color: $white;
		line-height: 34px;
		font-size: 16px;
		margin-bottom: 19px;
	}

	&__text {
		font-family: 'Lato', 'Arial Narrow', sans-serif;
		font-style: italic;
		color: $pinkish-grey;
		font-size: 13px;
	}

	&__form {
		width: 400px;
		position: relative;
	}

	&__input {
		background-color: $black-three;
		border-radius: 25px;
		padding: 20px 224px 20px 21px;
		border: none;

		&::placeholder {
			font-family: 'Lato', 'Arial Narrow', sans-serif;
			font-size: 13px;
			color: $pinkish-grey;
		}
	}

	&__button {
		font-weight: 700;
		font-size: 12px;
		text-transform: uppercase;
		color: $white;
		background-color: $soft-blue;
		padding: 21px 37px 20px 37px;
		border: none;
		border-radius: 25px;
		position: absolute;
		top: 0;
		left: 280px;
		cursor: pointer;
	}
}