.trainer {
	width: 1385px;
	display: flex;
	flex-wrap: wrap;
	margin-left: 375px;

	&__item {
		margin-right: 80px;
		width: 246px;
		margin-bottom: 60px;
		display: flex;
	}

	&__image {
		width: 80px;
		height: 80px;
		border-radius: 50%;
		margin-right: 21px;
	}

	&__data {
		width: 142px;
	}

	&__name {
		font-weight: 700;
		color: $black;
		font-size: 16px;
		margin-bottom: 8px;
	}

	&__position {
		font-family: 'Lato', 'Arial Narrow', sans-serif;
		color: $warm-grey;
		font-weight: 400;
	}
}