.yoga-start {
	&__title {
		@include header(center, 32px, 36px, $black);
	}

	&__text {
		text-align: center;
	}

	&__link {
		text-transform: uppercase;
		color: $white;
		font-size: 12px;
		background-color: $soft-blue;
	}
}