.yoga-group {
	&__title {
		font-weight: 700;
		font-size: 18px;
		line-height: 24px;
		color: $blue;
	}

	&__time,
	&__instructor,
	&__level {
		font-size: 13px;
		line-height: 24px;
		color: $light-grey;
	}

	&__text {
		color: $text-color;
	}
}