.yoga-group {
	&__title {
		font-weight: 700;
		font-size: 18px;
		line-height: 24px;
		color: $soft-blue;
	}

	&__time,
	&__instructor,
	&__level {
		font-size: 13px;
		line-height: 24px;
		color: $warm-grey;
	}

	&__text {
		color: $brownish-grey;
	}
}