$soft-blue: #7492ec;
$light-grey-blue: #99aade;
$dark-sky-blue-80: rgba(76, 119, 235, 0.8);
$black: #000000;
$brownish-grey: #666666;
$white: #ffffff;
$warm-grey: #999999;
$perrywinkle: #8ea2dc;
$black-two: #181818;
$pinkish-grey: #bbbbbb;
$black-three: #333333;
$black-four: #222222;
$turtle-green: #85af4b;
$dark-sky-blue: #4c77eb;
$very-light-pink: #fffefe;
$pale-grey: #e5eaf7;
$pale-grey-two: #f8f7fc;
$pale-grey-three: #f1f3f8;
$white-two: #eeeeee;